{{ define "main" }}
<div style="text-align: center;">
  <img src="/images/jnairx.jpeg" alt="Profile Photo" style="border-radius: 50%; width: 200px; height: 200px; object-fit: cover; margin: 10px auto;">
<h2>
  Learning to teach machines perception.
</h2>

<div class="eye-container">
  <div class = "eye", style="top: 56%; left: 45%;"><div class="pupil"></div></div>
  <div class = "eye", style="top: 56%; left: 50%;"><div class="pupil"></div></div>
</div>

<div class="social-container">
  {{ partial "social.html" . }}
</div>
</div>

<style>
  .eye {
      width: 30px;
      height: 30px;
      background: #f9f9f9;
      border-radius: 100%;
      border-color: black;
      border: 1px solid black;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .pupil {
      width: 10px;
      height: 10px;
      background: black;
      border-radius: 50%;
      position: absolute;
      transition: 0.05s linear;
  }
  .social-container {
    margin-top: 60px; 
}
</style>

<script>
  document.addEventListener("mousemove", (event) => {
      document.querySelectorAll(".eye").forEach(eye => {
          let pupil = eye.querySelector(".pupil");
          let rect = eye.getBoundingClientRect();
          let eyeCenterX = rect.left + rect.width / 2 ;
          let eyeCenterY = rect.top + rect.height / 2 ;
          let angle = Math.atan2(event.clientY - eyeCenterY, event.clientX - eyeCenterX);
          let maxDistance = 5; 
          pupil.style.transform = `translate(${Math.cos(angle) * maxDistance}px, ${Math.sin(angle) * maxDistance}px)`;
      });
  });
</script>

{{ end }}
