{{ define "main" }}
<section class="home-page">
  <p class="margin-hero">
    <img src="/images/IMG_9798.jpeg">
    <span class="margin-hero-caption">Salzburg, Austria</span>
  </p>

  <h2>
    Learning to teach machines perception.
  </h2>

  <p>I'm a full-time student pursuing Masters in AI & Autonomous Systems at Technische Hochschule Ingolstadt. Previously I used to work as a Solution's Engineer at <a href="https://www.minto.ai">Minto.ai</a> and had earned a bachelors in Mechanical Engineering from Pune, India.</p>

  <p>I have a deep interest in making computers "see" things, along with the "tools" that make them see such as traditional cameras, event-based cameras, light-field systems etc. I am constantly on the lookout for opportunities to work on the same.</p>

  <p><strong>Logs:</strong> <a href="/writings/logs26/">2026</a>, <a href="/writings/logs25/">2025</a></p>

  <div class="social-container">
    {{ partial "social.html" . }}
  </div>
</section>
{{ end }}